<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.title}} {{.desc}}</title>
  <style>
    body{background-color:#e5e5e5;}
    p{font-family:SimHei;font-size:22px;line-height:2.0;letter-spacing:2px;text-indent:48px;}
    a{font-family:SimHei;font-size:24px;}
  </style>
</head>
<body>
<div>
<h1>{{.title}} {{.desc}}</h1>
</div>
<div align="text">
  {{.content}}
</div>
{{if gt .nextPage 0}}
<div align="center">
<a href="cont?p={{.nextPage}}">下一页</a>
&nbsp&nbsp&nbsp&nbsp<a href="cat#p{{.curPage}}">目录</a>
&nbsp&nbsp&nbsp&nbsp<a href="cont?p={{.nextPage}}">下一页</a>
</div>
</br></br>
{{end}}
{{if gt .prePage 0}}
<div align="center">
<a href="cont?p={{.prePage}}">上一页</a>
&nbsp&nbsp&nbsp&nbsp<a href="cat#p{{.curPage}}">目录</a>
&nbsp&nbsp&nbsp&nbsp<a href="cont?p={{.prePage}}">上一页</a>
</div>
</br></br>
{{end}}
</body>
</html>